*{
    padding:0%;
    margin:1px;
    font-family: Arial, Helvetica, sans-serif;
}

#parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color:rgb(180, 180, 180) ;
    height: 10vh;
    width: 95vw;
    border: 1px solid #ccc;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    overflow: hidden;
}

nav{
    font-style: italic;
    font-size: larger;
    padding-left: 3%;
    overflow: hidden;
}

button {
    background-color: #ccc;
    color: black;
    height: 7vh;
    width: 10vw;
    border: 0;
    overflow: hidden;
}

button:hover {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#boton {
 padding-right: 3%;
}

#container {
    width: 95vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5vh;
    border: 1px solid #ccc;
    border-radius: 0px 0px 5px 15px;
    overflow: hidden;
}

#buttons {
    height: 50vh;
    width: 95vw;
    padding-bottom: 5vh;
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.row {
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    height: 10vh;
    width: 40vw;
    border-radius: 35px;
    background-color: rgb(45, 45, 45);
}

@media only screen and (max-width: 600px) {
    .row {width: 75vw;}
}